<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 相当于在applicationContext文件中配置<bean>标签定义bean，但是需要在类上添加@Component注解 -->
    <!-- 在属性的注解上添加@Autowire相当于在<bean>标签的autofire="byType" -->
    <context:component-scan base-package="com.jun.pojo,com.jun.service,com.jun.aop"></context:component-scan>

    <!--<bean id="book" class="com.jun.pojo.Book"></bean>
    <bean id="person" class="com.jun.pojo.Person"></bean>-->

    <aop:aspectj-autoproxy/>

</beans>